.nav-top {
  background: #efefef;
  height: 50px;
  padding: 0 10px;
}

.nav-top a {
  color: #777;
}

.nav-top .back mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

.nav-top .title {
  font-weight: 500;
  font-size: 18px;
  padding-left: 20px;
}

.back {
  display: flex;
}


.fs-nav-actions {
  flex-direction: row;
  display: flex;
  align-items: center;
}