<div class="nav-top" fxLayout fxLayout="row" fxLayoutAlign="left center">
  <a class="back" fsNavBack><mat-icon>arrow_back</mat-icon></a>
  <div class="left-actions" fsNavActions="left"></div>
  <span fxFlex>
    <div fxLayout fxLayout="row" fxLayoutAlign="left center">
      <div fsNavComponent="avatar" type="image"></div>
      <div>
        <div fsNavSuperTitle></div>
        <div fsNavTitle></div>
        <div fsNavSubTitle></div>
      </div>
    </div>
  </span>
  <div class="actions" fsNavActions="right"></div>
  <div class="menu-actions" fsNavMenu="share"></div>
  <div class="menu-actions" fsNavMenu="right-menu"></div>
</div>
