<ng-content *ngIf="!routeInfo.isRoot"></ng-content>

<ng-container *ngIf="routeInfo.leftActions && routeInfo.leftActions.length > 0">
  <ng-container *ngFor="let action of routeInfo.leftActions"
                [ngSwitch]="action.type">
    <!-- Basic button -->
    <button *ngSwitchCase="'basic'"
            mat-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Raised button -->
    <button *ngSwitchCase="'raised'"
            mat-raised-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Icon button -->
    <button *ngSwitchCase="'icon'"
            mat-icon-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Fab button -->
    <button *ngSwitchCase="'fab'"
            mat-fab
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Mini Fab button -->
    <button *ngSwitchCase="'mini-fab'"
            mat-mini-fab
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <ng-template #buttonContent let-value="value">
      <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
    </ng-template>
  </ng-container>
</ng-container>
