<ng-container
  *ngIf="showActions">
  <ng-container *ngFor="let action of actions"
                [ngSwitch]="action.type">
    <!-- Basic button -->
    <button *ngSwitchCase="'basic'"
            mat-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Raised button -->
    <button *ngSwitchCase="'raised'"
            mat-raised-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Icon button -->
    <button *ngSwitchCase="'icon'"
            mat-icon-button
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Fab button -->
    <button *ngSwitchCase="'fab'"
            mat-fab
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <!-- Mini Fab button -->
    <button *ngSwitchCase="'mini-fab'"
            mat-mini-fab
            (click)="action.click(row, $event)"
            [ngClass]="action.classArray"
    >
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </button>

    <a class="align-icon"
       [routerLink]="[action.url]"
       *ngSwitchCase="'url'"
       (click)="action.click(row, $event)"
       [ngClass]="action.classArray">
      <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
    </a>

    <ng-template #buttonContent let-value="value">
      <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
      <img *ngIf="action.image" [src]="action.image">

      {{action.label}}
    </ng-template>
  </ng-container>
</ng-container>

<ng-container *ngIf="showMenu">
  <button mat-icon-button [matMenuTriggerFor]="menuActionsRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuActionsRef>
    <button mat-menu-item *ngFor="let action of menuActions" (click)="action.click(row, $event)">
      <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
    </button>
  </mat-menu>
</ng-container>
