<ng-container
  *ngIf="showActions">
  <ng-container *ngFor="let group of groups">
    <ng-container *ngFor="let action of actions.get(group)"
                  [ngSwitch]="action.type">
      <!-- Basic button -->
      <ng-container *ngSwitchCase="'basic'">
        <!-- Button case -->
        <button
          mat-button
          *ngIf="!action.url"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- URL case -->
        <a mat-button
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </a>
      </ng-container>

      <!-- Raised button -->
      <ng-container *ngSwitchCase="'raised'">
        <!-- Button case -->
        <button
          mat-raised-button
          *ngIf="!action.url"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- URL case -->
        <a mat-raised-button
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </a>
      </ng-container>

      <!-- Icon button -->
      <ng-container *ngSwitchCase="'icon'">
        <!-- Button case -->
        <button
          mat-icon-button
          *ngIf="!action.url"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- URL case -->
        <a mat-icon-button
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </a>
      </ng-container>

      <!-- Fab button -->
      <ng-container *ngSwitchCase="'fab'">
        <!-- Button case -->
        <button
          mat-fab
          *ngIf="!action.url"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- URL case -->
        <a mat-fab
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </a>
      </ng-container>

      <!-- Mini Fab button -->
      <ng-container *ngSwitchCase="'mini-fab'">
        <!-- Button case -->
        <button
          mat-mini-fab
          *ngIf="!action.url"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- URL case -->
        <a mat-mini-fab
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </a>
      </ng-container>

      <ng-template #buttonContent let-value="value">
        <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
        <img *ngIf="action.image" [src]="action.image">

        {{action.label}}
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="showMenu">
  <button mat-icon-button [matMenuTriggerFor]="menuActionsRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuActionsRef>
    <ng-container *ngFor="let group of groups; let groupIndex = index">
      <!-- Group name -->
      <ng-template [ngIf]="group !== 'default'">
        <button mat-menu-item classs="group-header" [disabled]="true">{{group}}</button>
      </ng-template>

      <!-- actions -->
      <ng-container *ngFor="let action of menuActions.get(group)">
        <button mat-menu-item *ngIf="!action.url" (click)="action.click(row, $event)">
          <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
          <img *ngIf="action.image" [src]="action.image">
          {{action.label}}
        </button>

        <a mat-menu-item
           *ngIf="action.url"
           [routerLink]="[action.url]"
           (click)="action.click($event)"
           [ngClass]="action.classArray"
        >
          <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
          <img *ngIf="action.image" [src]="action.image">
          {{action.label}}
        </a>
      </ng-container>

      <!-- divider -->
      <ng-template [ngIf]="menuActions.get(group).length > 0 && groups.length - 1 > groupIndex">
        <mat-divider></mat-divider>
      </ng-template>
    </ng-container>
  </mat-menu>
</ng-container>
