<ng-container
  *ngIf="showActions">
  <ng-container *ngFor="let action of actions"
                [ngSwitch]="action.type">

    <!-- Basic button -->
    <ng-container *ngSwitchCase="'basic'">
      <!-- Button case -->
      <button
        mat-button
        *ngIf="!action.url"
        (click)="action.click($event)"
        [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <!-- URL case -->
      <a mat-button
         *ngIf="action.url"
         [routerLink]="[action.url]"
         (click)="action.click($event)"
         [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-container>

    <!-- Raised button -->
    <ng-container *ngSwitchCase="'raised'">
      <!-- Button case -->
      <button
        mat-raised-button
        *ngIf="!action.url"
        (click)="action.click($event)"
        [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <!-- URL case -->
      <a mat-raised-button
         *ngIf="action.url"
         [routerLink]="[action.url]"
         (click)="action.click($event)"
         [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-container>

    <!-- Icon button -->
    <ng-container *ngSwitchCase="'icon'">
      <!-- Button case -->
      <button
        mat-icon-button
        *ngIf="!action.url"
        (click)="action.click($event)"
        [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <!-- URL case -->
      <a mat-icon-button
         *ngIf="action.url"
         [routerLink]="[action.url]"
         (click)="action.click($event)"
         [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-container>

    <!-- Fab button -->
    <ng-container *ngSwitchCase="'fab'">
      <!-- Button case -->
      <button
        mat-fab
        *ngIf="!action.url"
        (click)="action.click($event)"
        [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <!-- URL case -->
      <a mat-fab
         *ngIf="action.url"
         [routerLink]="[action.url]"
         (click)="action.click($event)"
         [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-container>

    <!-- Mini Fab button -->
    <ng-container *ngSwitchCase="'mini-fab'">
      <!-- Button case -->
      <button
        mat-mini-fab
        *ngIf="!action.url"
        (click)="action.click($event)"
        [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <!-- URL case -->
      <a mat-mini-fab
         *ngIf="action.url"
         [routerLink]="[action.url]"
         (click)="action.click($event)"
         [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-container>

    <ng-template #buttonContent let-value="value">
      <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
      <img *ngIf="action.image" [src]="action.image">

      {{action.label}}
    </ng-template>
  </ng-container>
</ng-container>

<ng-container *ngIf="showMenu">
  <button mat-icon-button [matMenuTriggerFor]="menuActionsRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuActionsRef>
    <button mat-menu-item *ngFor="let action of menuActions" (click)="action.click(row, $event)">
      <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
    </button>
  </mat-menu>
</ng-container>
