<div fxLayout fxLayout="row">
  <div fxFlex>
    <header></header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <div class="nav-bottom" fxLayout="row" fxLayoutAlign="start center">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span fxFlex></span>
      <a routerLink="/messages"><mat-icon>chat_bubble</mat-icon></a>
    </div>
  </div>
  <div>
    <mat-list class="page-stack">
      <h3 mat-subheader>Current Page Stack</h3>
      <ng-container *ngFor="let url of stack.urlsStack">
        <mat-list-item>
          <mat-icon mat-list-icon>link</mat-icon>
          <a [routerLink]="url">{{url}}</a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</div>
