
<header></header>
<div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div class="sidenav" fxLayout="column">
      <button mat-raised-button color="primary" routerLink="/menu/a">Go to Menu A</button>
      <button mat-raised-button color="primary" routerLink="/menu/b">Go to Menu B</button>
      <button mat-raised-button color="primary" routerLink="/menu/c">Go to Menu C</button>
      <button mat-raised-button color="primary" routerLink="/menu/d">Go to Menu D</button>
    </div>
    <div class="container" fxFlex>
      <router-outlet></router-outlet>
    </div>

    <div>
      <mat-list class="page-stack">
        <h3 mat-header>Route Stack (Recent to Oldest)</h3>
        <ng-container *ngFor="let navRoute of navRoutes; let index = index">
          <mat-list-item>
            <span class="index">{{ navRoutes.length - 1 - index }}</span>
            <a [routerLink]="navRoute.path">{{navRoute.path}}</a>
            <ng-template [ngIf]="!navRoute.save">
              <b>></b>&nbsp;
              <span class="last-url">{{ navRoute.fullPath }}</span>&nbsp;
              <span class="counts">[ {{ navRoute.backCounts }} ]</span>
            </ng-template>
            <div class="route-data"> {{ navRoute.data | json }} </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>

  </div>
</div>
<div class="nav-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign="space-between">
  <button mat-raised-button color="primary" routerLink="/">Go to Root</button>
</div>
