<button mat-icon-button [matMenuTriggerFor]="menuActionsRef">
  <mat-icon>{{ action?.icon || 'more_vert' }}</mat-icon>
</button>
<mat-menu #menuActionsRef>
  <ng-container *ngFor="let action of action.children; let groupIndex = index">
  <!-- Group name -->
  <!-- <ng-template [ngIf]="group !== 'default'">
    <button mat-menu-item class="group-header" [disabled]="true">{{group}}</button>
  </ng-template> -->

  <!-- actions -->
    <button mat-menu-item *ngIf="!action.url" (click)="action.click(row, $event)">
      <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
      <img *ngIf="action.image" [src]="action.image">
      {{action.label}}
    </button>

    <a mat-menu-item
        *ngIf="action.url"
        [routerLink]="[action.url]"
        (click)="action.click($event)"
        [ngClass]="action.classArray">
      <mat-icon *ngIf="action.icon && !action.image">{{action.icon}}</mat-icon>
      <img *ngIf="action.image" [src]="action.image">
      {{action.label}}
    </a>
  </ng-container>
    <!-- divider -->
    <!-- <ng-template [ngIf]="actions.get(group).length > 0 && groups.length - 1 > groupIndex">
      <mat-divider></mat-divider>
    </ng-template>
  </ng-container> -->
</mat-menu>
