<fs-examples title="Navigation Stack" name="nav">
  
  <div fxLayout fxLayout="row">
    <div fxFlex>
      <header></header>
      <div class="container">
        <router-outlet></router-outlet>
      </div>

      <div class="nav-bottom">
        <a routerLink="/" id="home">Home</a>
        <a routerLink="/messages" id="messages">Messages</a>
      </div>
    </div>
    <div>
      <mat-list class="page-stack">
        <h3 mat-subheader>Current Page Stack</h3>
        <ng-container *ngFor="let url of stack.urlsStack">
          <mat-list-item>
            <mat-icon mat-list-icon>link</mat-icon>
            <a [routerLink]="url">{{url}}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list> 
    </div> 
  </div>

 
</fs-examples>
