@if (menu) {
  <button mat-icon-button [matMenuTriggerFor]="menuActionsRef">
    <mat-icon>{{ menu?.icon || 'more_vert' }}</mat-icon>
  </button>
}
<mat-menu #menuActionsRef>
  @for (group of groups; track group; let groupIndex = $index) {
    <!-- Group name -->
    @if (group !== 'default') {
      <button mat-menu-item class="group-header" [disabled]="true">{{group}}</button>
    }
    <!-- actions -->
    @for (action of actions.get(group); track action) {
      @if (!action.url) {
        <button mat-menu-item (click)="action.click($event)">
          @if (action.icon && !action.image) {
            <mat-icon>{{action.icon}}</mat-icon>
          }
          @if (action.image) {
            <img [src]="action.image">
          }
          {{action.label}}
        </button>
      }
      @if (action.url) {
        <a mat-menu-item
          [routerLink]="[action.url]"
          (click)="action.click($event)"
          [ngClass]="action.classArray"
          >
          @if (action.icon && !action.image) {
            <mat-icon>{{action.icon}}</mat-icon>
          }
          @if (action.image) {
            <img [src]="action.image">
          }
          {{action.label}}
        </a>
      }
    }
    <!-- divider -->
    @if (actions.get(group).length > 0 && groups.length - 1 > groupIndex) {
      <mat-divider></mat-divider>
    }
  }
</mat-menu>
